{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduMind{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'images/logo-compact.png' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/base/variables.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>